.card_header{
    font-size: 3vw;
    color: #004aad;
}

#sex-label{
    padding-right:40px;
}

.login-reg-button {
    margin: 5px;
    color: #004aad;
    border-color: #004aad;
}

.login-reg-button:hover {
    background-color: rgba(0, 74, 173, 0.8);
}

.center-component {
    display: flex;
    align-items: center;
    justify-content: center;
}