.text_art{
    width:  50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin: 50px 550px;
    font-size:2vw;
    color:black;
    margin:auto;
    padding:20px;
    text-align: center;
}

#card_header{
    font-size:3vw;
    color: rgb(64, 93, 191)
}

.about-image{
    width:5vw;
    height:5vw;
}

.about-center {
    text-align: center;
}