.about-header{
    width:  50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-size:2vw;
    color:black;
    margin:auto;
    padding:20px;
    text-align: center;
}

.card_header{
    font-size: 3vw;
    color: #004aad;
}

.about-image{
    width:5vw;
    height:5vw;
}

.about-center {
    text-align: center;
}